[DEFAULT]
hsc_path = ../data/samples/hsc/
hst_path = ../data/samples/hst/

[COMET_TAG]
comet_tag = "pix2pix test tag"

[BATCH_SIZE]
batch_size = 2

[MODEL_NAME]
model_name = test



[GAN_STEPS]
gan_steps = 10

[HSC_DIM]
hsc_dim = 100

[HST_DIM]
hst_dim = 600


[DATA_AUG]
data_aug = True


[DISPLAY_STEPS]
display_steps = 1

[LR]
lr = 0.0002

[LAMBDA_RECON]
lambda_recon = 200

[DISC_UPDATE_FREQ]
disc_update_freq = 5

[SAVE_STEPS]
save_steps = 50